@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 index1">DIRECTORIO TELEFONICO</h1>

    <a class="btn" asp-controller="Home" asp-action="Privacy"> 
        <img  class="imgIndex" src="../../img/directory.png" /></a>

    <br />
</div>
