@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 index1">DIRECTORIO TELEFONICO</h1>
    <br />
    <img class="imgIndex" src="https://cdn-icons.flaticon.com/png/512/878/premium/878541.png?token=exp=1648057992~hmac=1fc2200aa34d797efcdbee9ea94e8555" />
</div>
