@model Contact
@{
    ViewData["Title"] = "FUNCIONES DEL DIRECTORIO";
}
<br />
<br />
<h1 style="text-align:center">@ViewData["Title"]</h1>
<br />


<div class="d-grid gap-2 col-6 mx-auto">

    <a class="btn btn-primary" asp-controller="Contact" asp-action="Create">Adicionar Contacto</a>
    <a class="btn btn-danger" asp-controller="Contact" asp-action="Index">Listar Contactos</a>
    <a class="btn btn-dark" asp-controller="" asp-action="">Existe Contacto</a>
    <a class="btn btn-success" asp-controller="" asp-action="" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Espacio Disponible</a>
    <a class="btn btn-warning" asp-controller="" asp-action="" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">Agenta llena</a> 
</div>


<!-- Modal Espacio Disponible -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Espacio disponible de Directorio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
      Mensaje: @ViewBag.message
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Agenta llena -->
<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>