@model Contact
@{
    ViewData["Title"] = "Directory Phone";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
 <br /> 
                <br />
<div class="center-div">
    <div class="card mb-3 cardWidth">
        <div class="row g-0">
            <div class="col-md-4">
                <br /> 
                <br /> 
                <br />
                <img src="../../img/user.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">

                    <form asp-action="Create">
                        <h1 style="text-align:center">Register Contact</h1>
                        <div class="mb-3">
                            <label asp-for="Name" class="form-label"></label>
                            <input type="text" asp-for="Name" class="form-control" autocomplete="off"/>
                            <span asp-validation-for="Name" class="text-danger"> </span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Tel" class="form-label"></label>
                            <input type="number" asp-for="Tel" class="form-control"  />
                            <span asp-validation-for="Tel" class="text-danger"> </span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Cel" class="form-label"></label>
                            <input type="number" asp-for="Cel" class="form-control" />
                            <span asp-validation-for="Cel" class="text-danger"> </span>
                        </div>


                        <div style="text-align: center">
                            <button type="submit" class="btn btn-primary">Create</button>
                            <a class="btn btn-secondary" asp-controller="Home"  asp-action="Privacy">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
<partial name="_ValidationScriptsPartial" />
}
