@model Contact
@{
    ViewData["Title"] = "Delete";
}

<h3 class="mb-3">¿Está seguro de que desea eliminar el tipo de cuenta?: @Model.Name?</h3>

<form asp-action="DeleteContact">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
</form>